<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>466476265422-8ij5ednl7h0eo8f07u3fdg54c8g02efg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466476265422-8ij5ednl7h0eo8f07u3fdg54c8g02efg</string>
	<key>API_KEY</key>
	<string>AIzaSyBqanW-DBRfNGBJ7QaRKYzrbj4h-Y8QNDw</string>
	<key>GCM_SENDER_ID</key>
	<string>466476265422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mojodating.prealpha</string>
	<key>PROJECT_ID</key>
	<string>mojodating-test1</string>
	<key>STORAGE_BUCKET</key>
	<string>mojodating-test1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466476265422:ios:cf6297d039ea9307</string>
	<key>DATABASE_URL</key>
	<string>https://mojodating-test1.firebaseio.com</string>
</dict>
</plist>